SECRET_KEY=change-moi
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/oauth2callback
# Calendriers Google publics. Ajuste si besoin dans Paramètres.
GOOGLE_HOLIDAY_CALENDAR_ID=fr.ma#holiday@group.v.calendar.google.com

# Calendrier Hijri Google public. Tu peux le changer depuis le fichier .env si Google utilise un ID différent.
GOOGLE_HIJRI_CALENDAR_ID=ar.ma#holiday@group.v.calendar.google.com
