Flask>=3.0.3
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.31
Werkzeug>=3.0.3
python-dotenv>=1.0.1
openpyxl>=3.1.5
reportlab>=4.2.2
google-auth>=2.33.0
google-auth-oauthlib>=1.2.1
google-api-python-client>=2.140.0
requests>=2.32.3
gunicorn
